
.searchForm {
  font-size: 24px;
  display: block;
  width: 99%;
  padding: 8px 8px 8px 16px;
}

.titleBar {
  background-color: #000;
  display: block;
  color: #fff;
  padding: 16px;
  text-align: center;
}

.movieTable {
  margin: 10px auto;
  width: 60%;
  border-bottom: 2px solid rgb(90, 90, 90);
}


.tableImage img{
  border-radius: 20px;
}

.tableImage {
  /* border: 3px solid #73AD21; */
  width: 10%;
}


.tableContent {
  text-align: center;
  width: 60%;
  /* border: 3px solid red; */
}

.btn {
  display: inline-block;
  border: none;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

